.header {
  width: 100%;
  height: 30px;
  background-color: #000;

  &__inner {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__stats {
    width: 350px;
    height: 90%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__stat {
    height: 100%;
    width: 90px;
    border: 1px solid red;
  }
}
