.taskWindow {
  height: 100%;
  width: 50vw;

  &__inner {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }

  &__console {
    width: 100%;
    height: 70%;
    border: 1px solid red;
  }

  &__description {
    width: 100%;
    height: 30%;
    border: 1px solid blue;
  }
}
