.closed {
  transition: 0.4s;
  height: 100%;
  width: 50vw;
  position: fixed;
  top: 30px;
  left: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  backdrop-filter: blur(8px);
}

.opened {
  height: 100%;
  width: 50vw;
  position: fixed;
  top: 30px;
  left: 50%;
  transition: 0.4s;
  pointer-events: all;
  z-index: 5;
  backdrop-filter: blur(8px);
}

.helpWebsite {
  height: calc(100% - 30px);
  width: 50vw;

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__address {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    width: 80%;
    height: 30px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
  }

  &__piecesBlock {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__piecesList {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__piece {
    margin: 3px 0;
    cursor: pointer;
  }

  &__piece:hover {
    color: blue;
  }

  &__descriptionBlock {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
}
